@media screen and (max-width: 1335px) {
  .projectsContainer{
    width: calc(100% / 5 - 6px);
  }
}

@media screen and (max-width: 880px) {
  .projectsContainer{
    width: calc(100% / 4 - 6px);
  }
}


@media screen and (max-width: 800px) {
  main {
    width: 100%;
    height: 100%;
    background-color: rgba(27, 29, 30, 0.76);
  }
  .absoluteImages{
    display: none;
  }
  .Blobs_data{
    display: none;
  }
  .myHobbie:before{
    height: 30px;
  }
  .navBar{
    width: 0;
  }
  .navCenter.openedMenu .menuLogotype img {
    max-width: 210px;
  }
  .navBar .navCenter.openedMenu .centerMinBtnBack svg{
    display: none;
  }
  .navCenter.openedMenu .openedMenuText {
    width: calc(100%);
    text-transform: uppercase;
  }
  .navCenter{
    /* display: none; */
  }
  .mobileMenuBtnFade{
    pointer-events: all;
  }
  .mobileMenuBtnFade{
    opacity: 1;
  }
  .block {
    width: calc(100% - 0px);
    padding-left: 0px;
    overflow: hidden;
  }
  .topmenu{
    display: none;
  }
  .block.mainBlock .center_block h1 {
    font-size: 26px;
    white-space: nowrap;
    padding-top: 10px;
  }
  .footer .mobileTotopBtnOther{
    position: absolute;
    z-index: 9999;
    width: 100%;
  }
  .hobbiesBlock{
    top: 20px;
  }
  .block.mainBlock .center_block h1:before {
    font-size: 46px;
    left: -30px;
    bottom: -10px;
  }
  .block.mainBlock .center_block h1:after {
    font-size: 46px;
    right: -46px;
    bottom: -10px;
  }
  .defaultLine span {
    padding: 8px 10px;
    font-size: 15px;
    white-space: nowrap;
  }
  .progressLine {
    width: calc(100% - 20px);
  }
  .rect_class{
    display: none;
  }
  .progressBar {
    border: 0px solid white;
    background-color: #343637;
  }
  .defaultLine{
    margin: 25px 0 15px 0;
  }
  .center_block h2{
    margin: 5px;
  }
  .blogBlockData .blogMinImage{
    display: none;
  }
  .blodContentText {
    float: right;
    width: 100%;
  }
  .blogMinTitle {
    width: calc(100% - 0px);
    font-size: 20px;
  }
  .blofMinText {
    width: calc(100% - 0px);
    padding-left: 20px;
  }
  .blogBlockData {
    margin-bottom: 30px;
    border-bottom: 1px solid white;
    float: left;
    padding-bottom: 30px;
  }
  .projectsBigBlock{
    width: 100%;
    max-width: 100%;
  }
  .videoBlock {
    max-width: calc(100% - 30px);
    margin-bottom: 65px;
  }
  .videoBlock video {
    max-width: 100%;
  }
  .selevtVideo{
    display: none;
  }
  .aboutBlockData p {
    font-size: 11px;
    width: 100%;
    padding: 8px;
    float: left;
    border: 0;
    box-shadow: none;
    padding: 0;
    height: 300px;
    overflow: hidden;
    border: 2px solid white;
    border-bottom: 0;
    padding: 10px;
    transition: 0.3s;
  }

  .aboutBlockData.openAbout  p {
    height: auto;
    padding-bottom: 70px;
  }

  .aboutBlockData p::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    background-image: linear-gradient(to top, rgb(27, 29, 30) 30%, rgba(27, 29, 30, 0.17) 85%);
    left: 0;
    border-bottom: 2px solid white;
  }


  .opoenFullAbout{
    display: block;
    position: absolute;
    height: 40px;
    bottom: 15px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background-image: linear-gradient(to top, #1b1d1e 30%, #1b1d1e 85%);
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid white;
    left: calc(50% - 100px);
    width: 200px;
  }

  .aboutBlockData.openAbout .opoenFullAbout{

  }
  .aboutContent{
    width: calc(100% - 32px);
  }
  .youTubeChannelBtn{
    bottom: 15px;
  }
  .myHobbie {
    font-size: 20px;
    padding: 8px;
    border: 2px solid white;
    margin: 0px 2px;
  }
  .centerLine {
    width: 2px;
    height: 190px;
    margin-top: 0px;
  }
  .downloadableResume{
    bottom: 40px;
  }
  .pauseVideo, .playVideo {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 28px;
    border-radius: 10px;
  }
  .callData .callDataBlock{
    width: 100%;
  }
  .blogBlock{
    background-image: none;
  }
  .defaultTableTitle2{
    top: 140px;
  }
  .block .block_title h1{
    font-size: 18px;
  }
  .projectsContainer{
    width: calc(100% / 1 - 6px);
  }
  .getContacts{
    margin: auto;
  }
  .contactsLines .contactsLineData.text{
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .contactsLines{
    text-align: center;
  }
  .contactsLines .contactsLineData {
    text-align: center;
  }
  .socialsContacts{
    text-align: center;
  }
  .contactMessageForm{
    width: calc(100% - 10px);
    margin: auto;
  }
  .callData .submitBtn,.callData .clearBtn{
    width: calc(50% - 5px);
  }
  .otherDataBlockFoot {
    width: calc(100% - 10px);
  }
  .otherDataBlockFoot .otherContent {
    width: 50%;
    float: left;
    padding-bottom: 20px;
  }
  .othersLineData{
    padding-right: 30px;
  }
  .otherDataBlockFoot .otherContent.otherCenter {
    display: none;
  }
  .otherContent .socialsContacts{
      padding-right: 30px;
  }
  .otherContent .menu_btn {
    padding-left: 16px;
  }

  .otherCenter .toTopClicker{
    display: none;
  }
  .footerLogotype{
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .projectsContainer{
    width: calc(100% / 2 - 6px);
  }
}
