.openedMenuData{
  position: fixed;
  z-index: 22;
  background-color: #1b1d1e;
  width: 100%;
  height: 100%;
  display: none;
}

.openedMenuData .menuBlock{
  display: inline-block;
  width: 50%;
  height: 100%;
  position: absolute;
  color: white;
}

.leftMenu{
  left: 0;
}

.rightMenu{
  right: 0;
}

.openeMenuBtnTitle{
  text-align: center;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.3s;
}

.openeMenuBtnTitle:hover{
  color: red;
}

.heightCenter{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 100%;
  font-size: 40px;
  text-transform: uppercase;
}

.CloseMenuBtn{
  width: 60px;
  height: 60px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.CloseMenuBtn:before{
  content: '';
  position: absolute;
  width: 100px;
  height: 6px;
  background: #ffffff;
  transform: rotate(45deg);
  left: -26px;
  bottom: 33px;
}

.CloseMenuBtn:after{
  content: '';
  position: absolute;
  width: 100px;
  height: 6px;
  background: #ffffff;
  transform: rotate(-45deg);
  left: -20px;
  top: 27px;
}
