.topmenu{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  font-family: sans-serif;
  padding-top: 10px;
  padding-right: 10px;
}

.topmenu .menuBlock{
  color: white;
  display: inline-block;
}

.topmenu .menuBlock .menu_btn{
  display: inline-block;
  padding: 5px 15px 5px 0px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.topmenu .menuBlock .menu_btn:hover{
  opacity: 1;
}

.menu_btn:before{
  content: '';
  position: absolute;
  width: calc(100% - 10px);
  height: 1px;
  bottom: 0px;
  background-color: white;
  transition: 0.5s;
  right: 200%;
  opacity: 0;
}

.menu_btn:after{
  content: '♦';
  position: absolute;
  right: 5px;
  font-size: 12px;

}

.topmenu .menuBlock .menu_btn:hover:before{
  right: 10px;
  opacity: 1;
}

.menuRight{
  float: right;
}
