.topmenu{
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  font-family: sans-serif;
  padding-top: 10px;
  padding-right: 10px;
}

.topmenu .menuBlock{
  color: white;
  display: inline-block;
}

.topmenu .menuBlock .menu_btn{
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
  position: relative;
  margin: 5px 10px 5px 10px;
}

.topmenu .menuBlock .menu_btn:hover{
  opacity: 1;
}

.menu_btn:before{
  content: '';
  position: absolute;
  width: calc(100% - 10px);
  height: 1px;
  bottom: -2px;
  background-color: white;
  transition: 0.5s;
  right: 200%;
  opacity: 0;
}

.menu_btn:after{
  content: '';
  position: absolute;
  width: calc(100% - 10px);
  height: 1px;
  top: -2px;
  background-color: white;
  transition: 0.5s;
  left: 200%;
  opacity: 0;
}

.topmenu .menuBlock .menu_btn:hover:before{
  right: 10px;
  opacity: 1;
}
.topmenu .menuBlock .menu_btn:hover:after{
  left: 10px;
  opacity: 1;
}

.menuRight{
  float: right;
}

.menuCenter{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
